* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.task-top-bar {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  position: relative;
}

.task-container {
  flex-wrap: wrap;
}

.task-sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 15px;
  height: auto;
}

.task-sidebar a {
  display: block;
  color: #333;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 5px;
}

.task-sidebar a:hover {
  background-color: #ddd;
}

.page-content {
  flex: 1;
  padding: 20px;
}

.task-div-title {
  font-size: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
}

.task-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 95%;
  text-align: center;
}

.task-list {
  width: 30%;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-list ul {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  position: relative;
  background-color: #fff;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: move;
}

.task-list li p {
  word-wrap: break-word;
}

.task-list li em {
  word-wrap: break-word;
}

.task-list li strong {
  word-wrap: break-word;
}

.task-edit-button {
  background: none;
  border: 1px;
  color: #6f42c1;
  font-size: 16px;
  cursor: pointer;
}

.task-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.next-task-list-button {
  border: outset;
  width: 50%;
}

.add-btn {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #0056b3;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#scrollToTopBtn:hover {
  background-color: #005f73;
}

@media (max-width: 1920px) {
  .task-container {
    display: flex;
    flex-wrap: nowrap;
  }

  .task-sidebar {
    min-height: 100vh;
  }
}

@media (max-width: 880px) {
  .task-sidebar {
    width: 100%;
    min-height: 5vh;
  }

  .task-container {
    flex-wrap: wrap;
    flex-direction: column;
    display: block;
  }

  .task-list {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .task-top-bar {
    font-size: 40px;
    padding: 10px;
  }

  .add-btn {
    font-size: 14px;
  }
}
